<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>PrimerServlet</servlet-name>
		<display-name>PrimerServlet</display-name>
		<servlet-class>com.curso.PrimerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Formulario</servlet-name>
		<display-name>Formulario</display-name>
		<servlet-class>com.curso.Formulario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PersonasController</servlet-name>
		<display-name>PersonasController</display-name>
		<description></description>
		<servlet-class>com.curso.controller.PersonasController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductosController</display-name>
		<servlet-name>ProductosController</servlet-name>
		<servlet-class>com.curso.controller.ProductosController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrimerServlet</servlet-name>
		<url-pattern>/helloword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Formulario</servlet-name>
		<url-pattern>/form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonasController</servlet-name>
		<url-pattern>/persona</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductosController</servlet-name>
		<url-pattern>/productos</url-pattern>
	</servlet-mapping>
</web-app>
